<div>
  <h2>login GitHub</h2>
  <form id="label-form">
    <label for="userName"></label><br />
    <input
      type="text"
      id="userName"
      name="userName"
      [(ngModel)]="userName"
    /><br />
    <button id="button-list" (click)="listRepositories()">listar</button>
  </form>
  <br />
  <div id="listRepository">
    <div *ngFor="let item of repositoryList">
      {{ item.name }} - {{ item.url }} <br /><br />
    </div>
  </div>

  <div id="liststarred">
    <div *ngFor="let item of starredList">
      {{ item.full_name}} <br /><br />
    </div>
  </div>
</div>
