<form id="label_form">
  <label for="userName"></label><br />
  <input
    type="text"
    id="userName"
    name="userName"
    [(ngModel)]="userName"
  /><br />

  <button type="button" (click)="listRepositories()">listar</button>
</form>
<br />
<div class="flex-item">
  <div *ngFor="let item of repositoryList">
    <p class="item">
      {{ item.name }} <br />
      {{ item.url }}
    </p>
    <br />
  </div>
</div>

<div id="list_Starred">
  <div *ngFor="let item of starredList">
    <p class="item">{{ item.full_name }} <br /></p>
  </div>
</div>
